*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}

html{
	scroll-behavior: smooth;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
}

:root{
  --bg-color: #2a2a2a;
	--second-bg-color: #202020;
	--text-color: #fff;
	--second-color: #ccc;
	--primary-color: #ff8a05;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

/* utility classes */

.animate.animate{
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animate.animate--infinite{
    animation-iteration-count: infinite;
}

.animate.animate--delay-1s{
    animation-delay: 1s;
}

.animate.animate--fast{
    animation-duration: 0.6s;
}

.animate.animate--slow{
    animation-duration: 0.3s;
}



/* amination */
@keyframes slideInLeft{
from {
transform: translateX(-300px);
}

to {
    transform: translateX(0);
}
}


.slideInLeft{
    animation-name: slideInLeft; 
    animation-timing-function: 1s ease-in;
}


/* amination */
@keyframes slideInRight{
    from {
    transform: translateX(300px);
    }
    
    to {
        transform: translateX(0);
    }
    }
    
    
    .slideInRight{
        animation-name: slideInRight; 
        animation-timing-function: 1s ease-in;
    }
    

/* main-container stayle */

.main-container{
 height: 100vh;
 scroll-snap-type: y mandatory;
 overflow-y: scroll;
}

section{
    height: 100vh;
    scroll-snap-align: start;
}

/* header styling */
header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 15%;
	border-bottom: 1px solid transparent;
	transition: all .45s ease;
}
.logo{
	color: var(--text-color);
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 1px;
}
span{
	color: var(--primary-color);
}

ul{
	display: flex;
}
ul li a{
	color: var(--second-color);
	font-size: 17px;
	font-weight: 500;
	margin: 0 25px;
	transition: all .45s ease;
}
ul li a:hover{
	color: var(--primary-color);
}
ul li a.active{
	color: var(--primary-color);
}

/* menu-icon */
#menu-icon{
	font-size: 35px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	margin-left: 25px;
	display: flex;
}

